@charset "UTF-8";
$font : Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
$key01 : #3B3353;
$key02 : #F0F3C4;
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin mq($mqsize) {
  @media (max-width: ($mqsize)) {
    @content;
  }
}
@mixin eng01{
    font-family: 'Bellefair', serif;
}
@mixin eng02{
    font-family: 'Cedarville Cursive', cursive;
}
@mixin dn{
    display: none;
}
@mixin db{
    display: block;
}
@mixin w{
    width: 100%;
}
@mixin tr{
    text-align: right;
}
@mixin tl{
    text-align: left;
}
@mixin tc{
    text-align: center;
}
@mixin ma{
    margin: 0 auto;
}
@mixin mb($marginb){
    margin-bottom: $marginb + px;
}
@mixin f($size,$base:16){
    font-size: ($size / ($base * 0.625)) + rem
}
@mixin lh($tsize,$lsize,$base:16){
    line-height: round(($lsize / $tsize) * 100) / 100 ;
    font-size: ($tsize / ($base * 0.625)) + rem;
}
@mixin wp($full,$width){
    width: percentage($width / $full);
}
@mixin wpm($full,$width){
    width: percentage($width / $full);
    max-width: $width + px;
}
